<%= form_for recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name %>
    <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) do |b| %>
      <p>
        <%= b.label %>
        <%= b.check_box %> 
      </p>
    <% end %>

  <%= f.fields_for :ingredients do |ingredient_builder| %>
    <%= ingredient_builder.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>
