<%= form_for recipe do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <div>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </div>
  <%= f.submit  %>
<% end %>
